mixin colorSelector(colorSelected, colors)
	.colorSelector
		h5 Color
			span.colorSelected.label!= colorSelected
		ul.colorList.no-list
			for c in colors
				if c[2]
					li.active(style="background-image: url(/img/pdp/" + c[0] + ")")!= c[1]
				else
					li(style="background-image: url(/img/pdp/" + c[0] + ")")!= c[1]

mixin sizeSelector(sizes)
	.sizeSelector
		h5 Size
			span.sizeSelected.label
		ul.sizeList.no-list
			for s in sizes
				li!= s
		.sizeOptions
			a.link.truefit.icon True Fit
			a.link View size chart


mixin pdpButtons()
	.pdpButtons
		a.btn.btn-full.btn-gradient.addToCart.btn-big Add to cart
	.pdpButtons
		a.btn.btn-full.btn-primary.findInStore.btn-big Find in store
		.shareOptions
			a.link.save.icon Save for later
			a.link.icon.share Share
	.pdpButtons
		a.btn.btn-full.btn-gradient.quickAddToCart.btn-big Quick add (test)
