mixin colorSelector(colorSelected, colors)
	.colorSelector
		h5 Color
			span.colorSelected.label!= colorSelected
		ul.colorList.no-list
			for c in colors
				li(style="background-color: " + c[0] + "")!= c[1]

mixin sizeSelector(sizes)
	.sizeSelector
		h5 Size
			span.sizeSelected.label
		ul.sizeList.no-list
			for s in sizes
				li!= s

mixin pdpButtons()
	.pdpButtons
		a.btn.btn-full.btn-gradient.addToCart.btn-big Add to cart