script(src="js/vendors/jquery-3.2.1.min.js")

//- Todo place those files in vendors
script(src="js/vendors/headroom.js")
script(src="js/vendors/jQuery.headroom.js")


script(src="js/vendors/in-view.min.js")
script(src="js/script.js")