script(src="js/vendors/jquery-3.2.1.min.js")

//- Todo place those files in vendors
script(src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.4/headroom.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.4/jQuery.headroom.min.js")


script(src="js/vendors/in-view.min.js")
script(src="js/script.js")