//- TITLE
- var pagetitle = 'Checkout'

//- REGULAR INCLUDES
include blocks/mixin-mobile.pug
include blocks/mixin-global.pug
include blocks/std_head.pug
include blocks/std_css.pug

body.checkout
	+nav('', true)
	.container#checkout
		header
			h1 Checkout
				span.side
					|Already have an<br/>account?
					a.btnLink Sign in

		.section.active(data-step=0)
			h2.left
				.eyeBrow 1 of 4
				|Who is placing the order?
			a.btn.btn-alt.editSection Edit
			.surcontent
				h5 Your info
				span.name First Last
				span.email Email
			.content
				+input(false, 'First name', 'first-fn')
				+input(false, 'Last name', 'first-ln')
				+input(true, 'Email address', 'first-email')
				+check(false, 'Yes, please send me newsletters')
				//- a.btn.btn-full.btn-gradient.btn-big.nextStep.btn-fixedBottom.btn-inactive.isHidden(data-current-step=0) Continue to shipping
				.nextStep-wrapper.isHidden(data-current-step=0)
					a.btn.btn-gradient.btn-big.nextStep.btn-fixedBottom.btn-inactive.isHidden.btn-full(data-current-step=0) Continue to shipping
					a.nextStep.isHidden(data-current-step=0)
						h2.left
							.eyeBrow 2 of 4
							|Where are we sending your items?
		.section.inactive(data-step=1 tabIndex="-1")
			h2.left
				.eyeBrow 2 of 4
				|Where are we sending your items?
			a.btn.btn-alt.editSection Edit
			.surcontent
				h5 Shipping
				span.name Sarah
				span.line1 400 Boulevard de Maisonneuve O #700
				span.line2 Montreal, QC
				span.line3 H3A 1L4
				span.phone (514) 448-4035
			.content
				.tabs.withLabel
					.tab.selected(data-tab='ship', data-container='.shipping-option')
						.img: img(src='/img/checkout/box.svg')
						.info
							.label Ship by mail
							p.small Sorry, no P.O. boxes
					.tab(data-tab='store', data-container='.shipping-option')
						.img: img(src='/img/checkout/icon.svg')
						.info
							.label Ship to store
							p.small Always free!
				.shipping-option.active(data-tab='ship')
					p.lead We ship to any valid United States address, except A.P.O./F.P.O. and P.O. box.
					+input(false, 'First name', 'second-fn')
					+input(false, 'Last name', 'second-ln')
					+input(false, 'Phone number*', 'second-pn')
					p.small *We'll only call if we need assistance delivering your order
					+input(false, 'Extension (optional)', 'second-ext')
					+input(false, 'Start typing your address...', 'second-address')
					.hidden-address
						+input(false, 'Address Line 1', 'addr-line1', '400 Boulevard de Maisonneuve O #700')
						+input(false, 'City', 'addr-city', 'Montreal')
						+input(false, 'Province', 'addr-prov', 'Quebec')
						+input(false, 'Postal Code', 'addr-postal', 'H3A 1L4')

					+radio(true, 'Standard (Free)', 'Estimated delivery date: March 19, 2018')
					+radio(false, 'Express ($20)', 'Estimated delivery date: March 15, 2018')


				.shipping-option(data-tab='store')
					| Show me only if ship to store is selected

				//- a.btn.btn-full.btn-gradient.btn-big.nextStep.btn-fixedBottom.btn-inactive.isHidden(data-current-step=1) Continue to review
				.nextStep-wrapper.isHidden(data-current-step=1)
					a.btn.btn-gradient.btn-big.nextStep.btn-fixedBottom.btn-inactive.isHidden.btn-full(data-current-step=1) Continue to payment
					a.nextStep.isHidden(data-current-step=1)
						h2.left
							.eyeBrow 3 of 4
							|How would you like to pay?
		.section.inactive(data-step=2 tabIndex="-1")
			h2.left
				.eyeBrow 3 of 4
				|How would you like to pay?
			a.btn.btn-alt.editSection Edit
			.surcontent
				h5 Billing
				.visa
					img(src="/img/checkout/visa.png", width=49)
					span **** **** **** 4632
				span Expires 07/22
			.content
				.tabs
					.tab.selected(data-tab='cc', data-container='.payment-option')
						.info: .label Credit/debit card
					.tab(data-tab='pp', data-container='.payment-option')
						.info: .label PayPal
					.tab(data-tab='vc', data-container='.payment-option')
						.info: .label Visa Checkout
				.payment-option.active(data-tab='cc')
					+input(false, 'Card number', 'third-cc')
					.img.cc
						img(src="/img/checkout/cc.png", width=194)
						img(src="/img/checkout/ccFade.png", width=194)
					.row.gutter
						.column: +input(false, 'Exp. MM/YY', 'third-exp')
						.column: +input(false, 'CVC', 'third-cvc')

					+check(true, 'Billing address same as shipping', 'Billing address, country, name, and zip code must match your credit card statement.')
					.address
						span.name Sarah
						span.line1 400 Boulevard de Maisonneuve O #700
						span.line2 Montreal, QC
						span.line3 H3A 1L4
						span.phone (514) 448-4035
					a.btnLink Add promo code(s)
				.payment-option(data-tab='pp')
					| Show me only if PayPal
				.payment-option(data-tab='vc')
					| Show me only if Visa Checkout
				//- a.btn.btn-full.btn-gradient.btn-big.nextStep.btn-fixedBottom.btn-inactive.isHidden(data-current-step=2) Continue to review
				.nextStep-wrapper.isHidden(data-current-step=2)
					a.btn.btn-gradient.btn-big.nextStep.btn-fixedBottom.btn-inactive.isHidden.btn-full(data-current-step=2) Continue to review
					a.nextStep.isHidden(data-current-step=2)
						h2.left
							.eyeBrow 4 of 4
							|Review your order
		.section.inactive(data-step=3 tabIndex="-1")
			h2.left
				.eyeBrow 4 of 4
				|Review your order
			a.btn.btn-alt.editSection Edit
			.content
				.table.summary
					.tableRow
						.tableCell
							h5 Subtotal
						.tableCell
							p.subtotalPrice $0.00
					.tableRow
						.tableCell
							h5 Shipping
						.tableCell
							p Standard (free)
					.tableRow
						.tableCell
							h5 Taxes
						.tableCell
							p.taxes $0.00
					.tableRow
						.tableCell
							h5 Promo code(s)
						.tableCell
							a.btnLink Enter code
					.tableRow
						.tableCell
							h5.total Total
								span.small.beforeTaxes (Shipping & taxes calculated)
						.tableCell
							.totalPrice $XX
				a.btn.btn-full.btn-gradient.btn-big.nextStep.btn-fixedBottom.btn-inactive.isHidden.btn-full(data-current-step=3) Complete your purchase

	.cartSummary
		.container
			hr.large
			.tableRow
				.tableCell
					h3(data-qa-id="cart-header-title")
						| Summary
						span ID: 29525114
				//- .tableCell: a.btnLink Edit shopping bag
		ul.productsCart
		ul.dropDownButtons
			li Return policy
			li Delivery details
			//- li
				.img
					img(src='/img/pdp/bag.jpg')
				.data
					.title Product
					.infos
						span Color
						span Size
				.options
					.price $79

	//- REGULAR SCRIPTS
	include blocks/std_scripts.pug

