//- TITLE
- var pagetitle = 'Confirmation'

//- REGULAR INCLUDES
include blocks/mixin-desktop.pug
include blocks/mixin-global.pug
include blocks/std_head.pug
include blocks/std_css.pug

body.confirm.desktop
	+nav('Free shipping for pick-up in-store & online orders of $45+')
	

	.grid.desktop
		header.halfSquare.cell.double(style="background-image: url(/img/confirm/giphy.gif)")
			.mask
			.content
				h1 Thank you for<br/> your order!
				p.lead Your order (#8429068) has been received. We’ve sent an email to <span class='emailReplace'>sarah@gmail.com</span>.
				a.btn.btn-alt Continue shopping
		.cell.single.square.padded
			h5 Shipping
			p.infos.small
				span.name Sarah Layng
				span 400 Boulevard de Maisonneuve O #700
				span Montreal, QC
				span H3A 1L4
				span (514) 448-4035
		.cell.single.square.padded
			h5 Billing
			.visa: img(src="/img/checkout/visa.png", width=49)
			p.infos.small
				span **** **** **** 4632
				span Expires 07/22
		.cell.single.square.padded
			h5 Delivery
			p.infos.small
				span Standard Shipping
				span March 19, 2018
				span via Canada Post
		.cell.single.square.padded.halftexture
			//- h5 Tracking
			//- p.infos.small
			//- 	span.trunk CP9400110200828889396
			//- a.btn.btn-alt Track your order
	.grid.desktop
		.cell.doubleFree
			//- h2.left Review your order
			.content
				.table.summary
					.tableRow
						.tableCell
							h5 Subtotal
						.tableCell
							p.subtotalPrice $0.00
					.tableRow
						.tableCell
							h5 Shipping
						.tableCell
							p Standard (free)
					.tableRow
						.tableCell
							h5 Taxes
						.tableCell
							p.taxes $0.00
					.tableRow
						.tableCell
							h5.total Total
								span.small.beforeTaxes (Shipping & taxes calculated)
						.tableCell
							.totalPrice $XX
		
		.cell.doubleFree.cartSummary
			ul.productsCart
	.footer.desktop
		img(src="/img/global/desktopFooter.png")
			//- li 
				.img
					img(src='/img/pdp/bag.jpg')
				.data
					.title Product
					.infos
						span Color
						span Size
				.options
					.price $79


	//- REGULAR SCRIPTS
	include blocks/std_scripts.pug

