//- TITLE
- var pagetitle = 'Men'

//- REGULAR INCLUDES
include blocks/mixin-desktop.pug
include blocks/mixin-global.pug
include blocks/std_head.pug
include blocks/std_css.pug

body.nav.desktop
	+nav('Free shipping for pick-up in-store & online orders of $45+')
	h2.title Men
	.grid.desktop.nomargin.border-top.border-bottom
		.cell.doubleWidth
			.content
				//- h6 Trend Shop
				h1.big Chelsea Boots
				p.lead.tight A wardrobe staple — pair it with any look, rain or shine.
				a.btnLink.small Shop Chelsea Boots
		.cell.double
			img.full.fullH(src='/img/glp/glpM_lead.jpg')
		.cell.single
			img.full(src='/img/glp/glp_tile.jpg')
		.cell.single.halftexture
	.grid.desktop.nomargin.border-bottom
		.cell.doubleWidth
			.left
				h6 New Arrivals
				h3 Hybrid Sneakers
				p
				a.btnLink.small Shop Sneakers
			.right
				img(src='/img/glp/glpM_tileB.jpg')
		.cell.doubleWidth
			.left
				h6 &nbsp;
				h3 Keep it Casual <br/>(With Flair)
				p
				a.btnLink.small Shop Casual Shoes
			.right
				img(src='/img/glp/glpM_tileC.jpg')
	+trendModule('All Men’s<br/>Sneakers at<br/>$59.99', 'Shop the collection', '/img/glp/heroMen.jpg', 'Limited Time Offer')
	h2.title Shop by category
	.grid.thirds.border-top.desktop.border-bottom
		.cell.padded
			a(href="/plpMen.html", style="margin: 0;")
				img.full(src='/img/glp/mfeat_A.jpg')
				a(href="/plpMen.html").btnLink.centered Shop Footwear
		.cell.padded
			img.full(src='/img/glp/mfeat_B.jpg')
			a.btnLink.centered Shop Bags & Backpacks
		.cell.padded
			img.full(src='/img/glp/mfeat_C.jpg')
			a.btnLink.centered Shop Accessories
	.grid.desktop.nomargin.border-bottom
		.cell.doubleWidth.halftexture
			.left
				h3 #instashop
				p.lead We like the way you wear our shoes. Tag<br/> #Instashop for a chance to be featured here!
				a.btnLink.small Explore #Instashop
		.cell.double.padded-double
			img.full(src='/img/glp/glpM_socialC.jpg')
			.socialInfo
				.handle @stevenblack
				.likes
					img(src="/img/pdp/save.svg")
					span 32 likes
		.cell.single.padded-double
			img.full(src='/img/glp/glpM_socialA.jpg')
			.socialInfo
				.handle @stevenblack
				.likes
					img(src="/img/pdp/save.svg")
					span 32 likes
		.cell.single.padded-double
			img.full(src='/img/glp/glpM_socialB.jpg')
			.socialInfo
				.handle @stevenblack
				.likes
					img(src="/img/pdp/save.svg")
					span 32 likes
	+loadMore('Load more images')

	+utility(false)
	.footer.desktop
		img(src="/img/global/desktopFooter.png")

	//- REGULAR SCRIPTS
	include blocks/std_scripts.pug

