//- TITLE
- var pagetitle = 'Men'

//- REGULAR INCLUDES
include blocks/mixin-desktop.pug
include blocks/mixin-global.pug
include blocks/std_head.pug
include blocks/std_css.pug

body.nav.desktop
	+nav('Free shipping for pick-up in-store & online orders of $45+')
	+imgFull('/img/glp/glpM_a.png')
	+imgFull('/img/glp/glpM_b.png')
	+imgFull('/img/glp/glpM_c.png')
	+imgFull('/img/glp/glpM_d.png')
	+imgFull('/img/glp/glpM_e.png')
	+imgFull('/img/glp/glpM_f.png')
	+imgFull('/img/glp/glpM_g.png')

	
	.footer.desktop
		img(src="/img/global/desktopFooter.png")

	//- REGULAR SCRIPTS
	include blocks/std_scripts.pug

