//- TITLE
- var pagetitle = 'Women'

//- REGULAR INCLUDES
include blocks/mixin-desktop.pug
include blocks/mixin-global.pug
include blocks/std_head.pug
include blocks/std_css.pug

body.nav.desktop
	+nav('Free shipping for pick-up in-store & online orders of $45+')
	h2.title Women
	.grid.desktop.nomargin
		header.halfSquare.cell.double.stripped
			.mask
			.content.padded
				h6 Trend Shop
				h1.big Pastels
				p.lead.tight Put on some soft hues to pull off the<br/> look of the season.
				a.btnLink.small Shop the Trend
		.cell.double
			img.full(src='/img/glp/glpW_lead.jpg')
	+imgFull('/img/glp/glpW_c.png')
	+trendModule('Looking to<br/>shop the Latest<br/>Trends?', 'Visit the Trend Shop', '/img/glp/heroWomen.jpg')
	+imgFull('/img/glp/glpW_e.png').todo
	+imgFull('/img/glp/glpW_f.png')
	+loadMore('Load more images')

	
	.footer.desktop
		img(src="/img/global/desktopFooter.png")

	//- REGULAR SCRIPTS
	include blocks/std_scripts.pug

