//- TITLE
- var pagetitle = 'Women'

//- REGULAR INCLUDES
include blocks/mixin-desktop.pug
include blocks/mixin-global.pug
include blocks/std_head.pug
include blocks/std_css.pug

body.nav.desktop
	+nav('Free shipping for pick-up in-store & online orders of $45+')
	h2.title Women
	.grid.desktop.nomargin.border-top.border-bottom
		.cell.doubleWidth
			.content
				//- h6 Trend Shop
				h1.big Pastels
				p.lead.tight Put on some soft hues to pull off the<br/> look of the season.
				a.btnLink.small Shop the Trend
		.cell.double
			img.full.fullH(src='/img/glp/glpW_lead.jpg')
		.cell.single
			img.full(src='/img/glp/glpW_tile.jpg')
		.cell.single.halftexture
	.grid.desktop.nomargin.border-bottom
		.cell.doubleWidth
			.left
				h6 Limited Time Offer
				h3 Sneakers at $34.99
				p
				a.btnLink.small Shop Sneakers
			.right
				img(src='/img/glp/glpW_tileB.jpg')
		.cell.doubleWidth
			.left
				h6 &nbsp;
				h3 Sock Boot<br/>Season
				p
				a.btnLink.small Shop Sock Boots
			.right
				img(src='/img/glp/glpW_tileC.jpg')
	+trendModule('Looking to<br/>shop the Latest<br/>Trends?', 'Visit the Trend Shop', '/img/glp/heroWomen.jpg')
	h2.title Shop by category
	.grid.thirds.border-top.desktop.border-bottom
		.cell.padded
			a(href="/plpWomen.html", style="margin: 0;")
				img.full(src='/img/glp/wfeat_A.jpg')
				a(href="/plpWomen.html").btnLink.centered Shop Footwear
		.cell.padded
			img.full(src='/img/glp/wfeat_B.jpg')
			a.btnLink.centered Shop Handbags
		.cell.padded
			img.full(src='/img/glp/wfeat_C.jpg')
			a.btnLink.centered Shop Accessories
	.grid.desktop.nomargin.border-bottom
		.cell.doubleWidth.halftexture
			.left
				h3 #instashop
				p.lead Curabitur blandit tempus porttitor.<br/> Lorem ipsum dolor sit amet, consectetur adipiscing.
				a.btnLink.small Check out @brandname
		.cell.double.padded-double
			img.full(src='/img/glp/glpW_socialC.jpg')
			.socialInfo
				.handle @stevenblack
				.likes
					img(src="/img/pdp/save.svg")
					span 32 likes
		.cell.single.padded-double
			img.full(src='/img/glp/glpW_socialA.jpg')
			.socialInfo
				.handle @stevenblack
				.likes
					img(src="/img/pdp/save.svg")
					span 32 likes
		.cell.single.padded-double
			img.full(src='/img/glp/glpW_socialB.jpg')
			.socialInfo
				.handle @stevenblack
				.likes
					img(src="/img/pdp/save.svg")
					span 32 likes
	+loadMore('Load more images')

	+utility(false)
	.footer.desktop
		img(src="/img/global/desktopFooter.png")

	//- REGULAR SCRIPTS
	include blocks/std_scripts.pug

