//- TITLE
- var pagetitle = 'Women'

//- REGULAR INCLUDES
include blocks/mixin-desktop.pug
include blocks/mixin-global.pug
include blocks/std_head.pug
include blocks/std_css.pug

body.nav.desktop
	+nav('Free shipping for pick-up in-store & online orders of $45+')
	+imgFull('/img/glp/glpW_a.png')
	+imgFull('/img/glp/glpW_b.png')
	+imgFull('/img/glp/glpW_c.png')
	+imgFull('/img/glp/glpW_d.png')
	+imgFull('/img/glp/glpW_e.png')
	+imgFull('/img/glp/glpW_f.png')
	+imgFull('/img/glp/glpW_g.png')

	
	.footer.desktop
		img(src="/img/global/desktopFooter.png")

	//- REGULAR SCRIPTS
	include blocks/std_scripts.pug

