//- TITLE
- var pagetitle = 'Homepage'

//- REGULAR INCLUDES
include blocks/mixin-desktop.pug
include blocks/mixin-global.pug
include blocks/std_head.pug
include blocks/std_css.pug

body.nav.desktop
	+nav('Free shipping for pick-up in-store & online orders of $45+')
	
	+imgFull('/img/hp/hp_bannerDesktop.png')
	+imgFull('/img/hp/hp_caroussel.png').todo
	+imgFull('/img/hp/hp_sectionA.png').todo
	+imgFull('/img/hp/hp_sectionB.png').todo
	+loadMore('Load more images')
	
	.footer.desktop
		img(src="/img/global/desktopFooter.png")

	//- REGULAR SCRIPTS
	include blocks/std_scripts.pug

