//- TITLE
- var pagetitle = 'User testing'

//- REGULAR INCLUDES
include blocks/std_head.pug
include blocks/std_css.pug

body

	h1 User testing
	small January 31st

	ul
		li: a(href="/men-mobile.html") Men Mobile
		li: a(href="/women-mobile.html") Women Mobile
	//- REGULAR SCRIPTS
	include blocks/std_scripts.pug

