//- TITLE
- var pagetitle = 'User testing'

//- REGULAR INCLUDES
include blocks/std_head.pug
include blocks/std_css.pug

body

	h1 User testing
	small January 31st

	ul
		li: a(href="/men-mobile.html") Men Mobile
		li: a(href="/women-mobile.html") Women Mobile
		li: a(href="/checkout.html") Checkout Mobile
		li: a(href="/confirm.html") Confirmation Mobile
		li
		li: a(href="/men-desktop.html") Men Desktop
		li: a(href="/women-desktop.html") Women Desktop
		li: a(href="/checkoutDesktop.html") Checkout Desktop
		li: a(href="/confirmDesktop.html") Confirm Desktop

	//- REGULAR SCRIPTS
	include blocks/std_scripts.pug

