//- TITLE
- var pagetitle = 'User testing'

//- REGULAR INCLUDES
include blocks/std_head.pug
include blocks/std_css.pug

body.index

	h1 User testing
	p.small January 31st

	ul.listLinks
		li
			.label Women
			.links
				a.btnLink(href="/women-mobile.html") Mobile
				a.btnLink(href="/women-desktop.html") Desktop
		li
			.label Men
			.links
				a.btnLink(href="/men-mobile.html") Mobile
				a.btnLink(href="/men-desktop.html") Desktop
		li
			.label Checkout
			.links
				a.btnLink(href='/checkout.html?products=[{"name":"Lintun","img":"/img/pdp/lintun_a.jpg","price":"$79.99","color":"Beige%20Suede","size":6.5,"active":true,"id":0.2895750306468896}]') Mobile
				a.btnLink(href='/checkoutDesktop.html?products=[{"name":"Lintun","img":"/img/pdp/lintun_a.jpg","price":"$79.99","color":"Beige%20Suede","size":6.5,"active":true,"id":0.2895750306468896}]') Desktop
		li
			.label Confirmation
			.links
				a.btnLink(href='/confirm.html?products=[{"name":"Lintun","img":"/img/pdp/lintun_a.jpg","price":"$79.99","color":"Beige%20Suede","size":6.5,"active":true,"id":0.2895750306468896}]&infos={email:"john@doe.com", name:"John Doe"}') Mobile
				a.btnLink(href='/confirmDesktop.html?products=[{"name":"Lintun","img":"/img/pdp/lintun_a.jpg","price":"$79.99","color":"Beige%20Suede","size":6.5,"active":true,"id":0.2895750306468896}]&infos={email:"john@doe.com", name:"John Doe"}') Desktop


	//- REGULAR SCRIPTS
	include blocks/std_scripts.pug

