//- TITLE
- var pagetitle = 'User testing'

//- REGULAR INCLUDES
include blocks/std_head.pug
include blocks/std_css.pug

body.index

	h1 User testing
	p.small January 31st

	//- p.status All the pages have been added in desktop, but all except PLP > Checkout are only images. We will transform them progressively in HTML. Thanks
	ul.listLinks
		li
			.label Homepage
			.links
				a.btnLink(href="/homepage.html") Desktop
		li
			.label Me to We
			.links
				a.btnLink(href="/metowe.html") Desktop
		li
			.label GLP Women
			.links
				a.btnLink(href="/glpWomen.html") Desktop
		li
			.label GLP Men
			.links
				a.btnLink(href="/glpMen.html") Desktop
		li
			.label PLP Women
			.links
				a.btnLink(href="/plpWomen.html") Desktop
		li
			.label PLP Men
			.links
				a.btnLink(href="/plpMen.html") Desktop
		li.descoped
			.label Social PLP Women
			.links
				a.btnLink(href="/socialplpWomen.html") Desktop
		li.descoped
			.label Social PLP Men
			.links
				a.btnLink(href="/socialplpMen.html") Desktop
		li
			.label PDP Women
			.links
				a.btnLink(href="/women-mobile.html") Mobile
				a.btnLink(href="/women-desktop.html") Desktop
		li
			.label PDP Men
			.links
				a.btnLink(href="/men-mobile.html") Mobile
				a.btnLink(href="/men-desktop.html") Desktop
		li
			.label Checkout
			.links
				a.btnLink(href='/checkout.html?products=[{"name":"Fabiano","img":"/img/pdp/lintun_a.jpg","price":"$79.99","color":"Beige%20Suede","size":6.5,"active":true,"id":0.2895750306468896}]') Mobile
				a.btnLink(href='/checkoutDesktop.html?products=[{"name":"Fabiano","img":"/img/pdp/lintun_a.jpg","price":"$79.99","color":"Beige%20Suede","size":6.5,"active":true,"id":0.2895750306468896}]') Desktop
		li
			.label Confirmation
			.links
				a.btnLink(href='/confirm.html?products=[{"name":"Fabiano","img":"/img/pdp/lintun_a.jpg","price":"$79.99","color":"Beige%20Suede","size":6.5,"active":true,"id":0.2895750306468896}]&infos={email:"john@doe.com", name:"John Doe"}') Mobile
				a.btnLink(href='/confirmDesktop.html?products=[{"name":"Fabiano","img":"/img/pdp/lintun_a.jpg","price":"$79.99","color":"Beige%20Suede","size":6.5,"active":true,"id":0.2895750306468896}]&infos={email:"john@doe.com", name:"John Doe"}') Desktop


	//- REGULAR SCRIPTS
	include blocks/std_scripts.pug

