//- TITLE
- var pagetitle = 'Fabiano'

//- REGULAR INCLUDES
include blocks/mixin-mobile.pug
include blocks/mixin-global.pug
include blocks/std_head.pug
include blocks/std_css.pug

body.pdp
	+nav('Free shipping for pick-up in-store & online orders of $45+')
		+buySticky("Fabiano", 79.99)
	+heroProduct(["Men", "Footwear", "Boots"], 'lintun_a.jpg', "Fabiano", 79.99)
	.container
		+colorSelector("Beige Suede", [["lintun/lintun_16_SW_100.JPG", "Beige Suede", true], ["lintun/lintun_96_SW_100.JPG", "Black Suede"]])
		+sizeSelector([5, 6, 6.5, 7, 7.5, 8, 8.5, 9, 10, 10.5, 11])
		+pdpButtons
	+productDetails('lintun_b.jpg', 'lintun_c.jpg', 'lintun_social.jpg', 'klimp_1900', 344)
	.container.productDetails
		h2.left Details
		p.lead This supple suede Chelsea boot balances both work and weekend life. Effortlessly dressy and casually cool, its fine finishing and built-up sole make it a dapper accent to any outfit.
		.row
			.column
				h5 Details
				ul.listDetails
					li Ankle boot
					li Almond toe
					li Slip-on
					li Side elastics 
			.column
				h5 Materials
				ul.listDetails
					li Lining: Textile
					li Upper: Suede
					li Sole: Rubber
	.revealSection.active
		.content.pdpContextual
			.icon
				//- svg(viewBox="0 0 41 56", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
					g(id="Page-1", stroke="none", stroke-width="1", fill="none", fill-rule="evenodd")
						g(id="PDP---Large---Contextual", transform="translate(-1055.000000, -1915.000000)", fill="#FFFFFF", fill-rule="nonzero")
							g(id="Group-14", transform="translate(755.000000, 1811.000000)")
								g(id="np_fire_844806_000000", transform="translate(300.000000, 104.000000)")
									path(d="M9.52701984,17.8768817 C9.10817144,17.5741532 8.55649353,17.5228469 8.08914497,17.740912 C5.07543978,19.1339726 2.34012997,23.0771136 0.948153067,28.031079 C-0.926471725,34.7037939 0.00574089615,41.5459538 3.50470924,46.8026871 C7.2794577,52.4749545 14.188083,56 21.5382964,56 C27.4175518,56 32.8931404,53.7166968 36.5610551,49.7350694 C43.6301271,42.0614473 41.451935,30.883993 35.6442072,23.8080255 C34.5332409,22.4534512 33.4350241,21.2322656 32.375121,20.0495663 C27.2697237,14.3593035 23.8957652,10.60334 27.4918908,2.00171138 C27.7089777,1.48604713 27.6068188,0.890861972 27.2339403,0.47526217 C26.8585053,0.0596557995 26.2787787,-0.101973643 25.7475521,0.0647851207 C16.9824782,2.76112676 13.5244388,8.32818069 15.1635587,17.0841487 C15.268274,17.6382927 15.4189527,18.2386072 15.5773007,18.8723181 C16.5656763,22.8000909 16.6678679,24.8191125 14.5659109,25.6731018 C13.5749854,26.0733202 12.6453227,25.3549788 12.0910818,24.7341274 C10.8319606,23.3282599 9.94577671,20.8474023 10.1168807,19.2003713 C10.1730678,18.6847071 9.94576363,18.1793015 9.52691523,17.8765993 L9.52701984,17.8768817 Z M15.643807,28.3489722 C20.4401449,26.4018004 19.1402255,21.2454205 18.3638175,18.1638872 C18.2156887,17.5738248 18.0752161,17.0171129 17.9883826,16.5502199 C16.821188,10.3237756 18.6166617,6.31916152 23.7833609,3.88979416 C21.4643366,12.2096714 25.5635091,16.7761464 30.2372563,21.9816522 C31.2766949,23.1412334 32.3519628,24.339301 33.4246153,25.6451434 C38.3154952,31.6047448 40.3380788,41.3844754 34.4513046,47.7747821 C31.3252736,51.1663733 26.6205355,53.1135451 21.5384141,53.1135451 C15.1381317,53.1135451 9.14400063,50.0811377 5.89518276,45.1988908 C2.86362836,40.645157 2.06930579,34.6729458 3.71411383,28.8159309 C4.53648515,25.8964211 5.93349645,23.312977 7.47611285,21.7196036 C7.88730505,23.5180185 8.77864755,25.3522927 9.95604164,26.6658192 C11.6186989,28.5155273 13.7078411,29.1312429 15.6437286,28.3487751 L15.643807,28.3489722 Z M23.9644897,48 C27.1441936,48 31.0046051,46.861194 32.3153655,43.6648779 C34.8397544,37.5077193 29.7909767,31.8759697 26.7770109,28.5114962 C26.4531787,28.1491561 26.1497389,27.8101115 25.8794533,27.4969862 C25.4918716,27.0466517 24.8696847,26.8836026 24.3163976,27.0854776 C23.7630713,27.2873526 23.3856793,27.8127684 23.3678587,28.4080112 C23.2684159,31.5680852 21.4886016,33.4548539 19.6017071,35.4503484 C17.6127847,37.5570865 15.3587076,39.9432919 16.1695774,43.6932421 C16.809598,46.6695886 20.5451543,47.9998741 23.9642939,47.9998741 L23.9644897,48 Z M21.6721603,37.4712785 C23.1128218,35.9442793 24.8110661,34.1455648 25.675463,31.6221434 C28.2738106,34.6010739 31.2724363,38.6280399 29.6660366,42.5464125 C28.9469461,44.3011331 26.2848883,45.0879217 23.9644897,45.0879217 C21.4502841,45.0879217 19.211547,44.1872393 18.9718501,43.0795735 C18.5103228,40.9469293 19.6398941,39.624462 21.6721603,37.471146 L21.6721603,37.4712785 Z")
			//- .statement
			//- 	span.underlined Chelsea boots
			//- 	|  are one of our favorite trends for Men right now.
			//- a.btn.btn-reverse Shop the trend
			.bigNumber(data-number=18) 5
			.statement.small
				|people purchased this in Montreal.
	.container
		+reviews('Reviews')
	+mixnmatch('Mix &<br/>Match', 'lintun_a.jpg', 'belt.jpg', 'Ramaswamy', 19.99, 'Brown')
	h2 Similar Styles
	.grid.border-top
		.cell.single.product
			img.full(src='/img/pdp/similarMen_1.jpg')
			.details
				.title Ramaswamy
				.price $49.99
		.cell.single.product
			img.full(src='/img/pdp/similarMen_2.jpg')
			.details
				.title Ramaswamy
				.price $49.99
		.cell.single.product
			img.full(src='/img/pdp/similarMen_3.jpg')
			.details
				.title Ramaswamy
				.price $49.99
		.cell.single.product
			img.full(src='/img/pdp/similarMen_4.jpg')
			.details
				.title Ramaswamy
				.price $49.99

	+utility(true)
	.footer
		img(src="/img/FooterMobile.png")
	//- +overlay
	+cart({img: '/img/pdp/inCart_men1.png' , title: 'Multi-Protector' , price: '$12.99'}, {img: '/img/pdp/inCart_men2.png' , title: 'Herman' , price: '$49.99'})
	//- +checkout


	//- REGULAR SCRIPTS
	include blocks/std_scripts.pug

