//- TITLE
- var pagetitle = 'Fabiano'

//- REGULAR INCLUDES
include blocks/mixin-desktop.pug
include blocks/mixin-global.pug
include blocks/std_head.pug
include blocks/std_css.pug

body.pdp.desktop
	+nav('Free shipping for pick-up in-store & online orders of $45+')
		+buySticky("Fabiano", 79.99, '/img/pdp/lintun_a.jpg')

	.grid.desktop.paralax.nomargin(style="background-image: url(/img/pdp/hugeMen.jpg)", ondblclick="goto('/men-desktopB.html')")
		.cell.double.zoomable: img#mainImg.full(src="/img/pdp/lintun_a.jpg")
		.cell.single.zoomable: img#mainImg.full(src="/img/pdp/lintun_b.jpg")
		.cell.doubleHeight
			.heroInfos
				+heroProduct(["Men", "Footwear", "Boots"], 'lintun_a.jpg', "Fabiano", 79.99).column
					+colorSelector("Beige Suede", [["lintun/lintun_16_SW_100.JPG", "Beige Suede", true], ["lintun/lintun_96_SW_100.JPG", "Black Suede"]])
					+sizeSelector([5, 6, 6.5, 7, 7.5, 8, 8.5, 9, 10, 10.5, 11], true)
					+pdpButtons(true)
		.cell.single.zoomable: img#mainImg.full(src="/img/pdp/lintun_c.jpg")
		.cell.single.empty.noBorder
		.cell.single.empty.noBorder
		.cell.single.empty
		.cell.single.stroke.empty.reverseStroke
		//- .cell.single.empty.noBorder
		//- .cell.single.empty.noBorder.stroke.reverseStroke
		//- .cell.double.empty
		//- .cell.single.empty
		.cell.single.empty.social
			img.full.social(src='/img/pdp/lintun_social.jpg')
			.container.socialInfo
				.handle @klimpt_1900
				.likes
					img(src="/img/pdp/save.svg")
					span 344
		.cell.single.empty.noBorder
		.cell.single.stroke.empty
		.cell.single.texture
	//- +productDetails('lintun_b.jpg', 'lintun_c.jpg', 'lintun_social.jpg', 'klimp_1900', 344)
	.grid.desktop.pdp.nomargin
		.cell.double.double-padded.border-bottom
			.wrapper
				.content
					h2.left Details
					p.lead This supple suede Chelsea boot balances both work and weekend life. Effortlessly dressy and casually cool, its fine finishing and built-up sole make it a dapper accent to any outfit.
					.row
						.column
							h5 Details
							ul.listDetails
								li Ankle boot
								li Almond toe
								li Slip-on
								li Side elastics 
						.column
							h5 Materials
							ul.listDetails
								li Lining: Textile
								li Upper: Suede
								li Sole: Rubber
		.cell.double.padded-double
			.revealSection.active
				.content.pdpContextual
					.icon
						svg(viewBox="0 0 52 46", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
							g(id="Page-1", stroke="none", stroke-width="1", fill="none", fill-rule="evenodd")
								g(id="PDP---Large---Contextual-alts", transform="translate(-2096.000000, -1102.000000)", fill="#FFFFFF")
									g(id="Group-4", transform="translate(1764.000000, 929.000000)")
										path(d="M377.71033,176.130859 C375.318591,174.117027 372.240846,173.009576 369.054439,173.009576 C365.375832,173.009576 361.809558,174.499293 359.282165,177.09636 C358.828636,177.565329 358.402237,178.065836 357.999069,178.61362 C354.901874,174.420499 349.723145,172.272587 344.606438,173.22235 C340.358028,174.006595 337.016619,176.379044 334.6869,180.272728 C331.395901,185.7664 331.124595,191.066769 333.892254,196.028457 C335.369154,198.68071 337.287944,201.265973 339.753217,203.933964 C344.273031,208.816757 349.618473,213.451364 356.584308,218.511317 C357.030088,218.834473 357.506878,219 358.003058,219 C358.766694,219 359.286154,218.60591 359.54198,218.4128 C365.825482,213.849218 370.764362,209.644193 375.078067,205.171208 C377.489157,202.672608 380.221965,199.606612 382.222127,195.772049 C383.078795,194.132614 384.055675,191.929616 383.997523,189.411343 C383.869601,183.996465 381.753146,179.527416 377.710152,176.130405 L377.71033,176.130859 Z M378.946886,194.00726 C377.167619,197.416175 374.651936,200.226117 372.43078,202.531516 C368.438196,206.669551 363.875711,210.582908 357.995199,214.902441 C351.595394,210.196909 346.641828,205.873744 342.455142,201.345069 C340.195285,198.901655 338.446979,196.556809 337.11744,194.164646 C335.008716,190.385268 335.245191,186.590153 337.857816,182.231576 C339.613763,179.295524 342.110195,177.510305 345.277151,176.92707 C345.881864,176.812783 346.498226,176.757608 347.102859,176.757608 C350.855098,176.757608 354.177158,178.865972 356.053277,182.523173 L356.371134,183.134022 C356.696741,183.756694 357.371215,184.111377 358.037968,184.131081 C358.735703,184.119257 359.363636,183.713342 359.669873,183.074881 C360.328847,181.70734 361.045952,180.647306 361.92199,179.744759 C363.759408,177.857038 366.360433,176.77723 369.05831,176.77723 C371.384158,176.77723 373.616925,177.577244 375.349552,179.035414 C378.574659,181.742852 380.187213,185.167506 380.291905,189.498541 C380.326785,191.134041 379.632931,192.694683 378.946787,194.007038 L378.946886,194.00726 Z")
					.bigNumber(data-number=36) 5
					.statement.small
						|people added this shoe to their wishlist since yesterday.
					a.btn.btn-mega.btn-reverse(style="padding-left: 3rem;padding-right: 3rem;") See more popular items

	//- +survey('Great For', 'dress.svg', 'Date night', 64, 'badWeather.svg', 'Bad weather', 35, 'allday.svg', 'All-day wear', 17)
	+reviews('Reviews')
	hr
	+mixnmatch('Mix & Match', 'lintun_a.jpg', 'belt.jpg', 'Ramaswamy', 19.99, 'Brown')
	h2 Similar Styles
	.grid.border-top.desktop
		.cell.single.product
			img.full(src='/img/pdp/similarMen_1.jpg')
			.details
				.title Ramaswamy
				.price $49.99
		.cell.single.product
			img.full(src='/img/pdp/similarMen_2.jpg')
			.details
				.title Ramaswamy
				.price $49.99
		.cell.single.product
			img.full(src='/img/pdp/similarMen_3.jpg')
			.details
				.title Ramaswamy
				.price $49.99
		.cell.single.product
			img.full(src='/img/pdp/similarMen_4.jpg')
			.details
				.title Ramaswamy
				.price $49.99

	+utility(true)
	.footer.desktop
		img(src="/img/global/desktopFooter.png")
	//- +overlay
	+cart({img: '/img/pdp/inCart_men1.png' , title: 'Multi-Protector' , price: '$12.99'}, {img: '/img/pdp/inCart_men2.png' , title: 'Herman' , price: '$49.99'})
	//- +checkout


	//- REGULAR SCRIPTS
	include blocks/std_scripts.pug

