//- TITLE
- var pagetitle = 'Me to We'

//- REGULAR INCLUDES
include blocks/mixin-desktop.pug
include blocks/mixin-global.pug
include blocks/std_head.pug
include blocks/std_css.pug

body.nav.desktop.me2we
	+nav('Free shipping for pick-up in-store & online orders of $45+')

	+largeHalfTriangle('Make an<br /> impact', 'Play Video', '/img/me2we/bigHero.jpg')
	+imgFull('/img/me2we/me2we_b.png')
	a.btn.btn-big.btn-metowe.btn-centered(style='margin-bottom: 4rem;') Learn more

	+imgFull('/img/me2we/me2we_c.png')
	+imgFull('/img/me2we/me2we_d.png')
	+imgFull('/img/me2we/me2we_e.png')
	.grid.desktop.border-top.nomargin.border-bottom
		.cell.doubleHeight.padded-double
			.content
				.icon: img(src="/img/me2we/ico_opp.png")
				h2.left Opportunity
				p One necklace = access to leadership and business training programs for one woman
				p Handmade by a mama in Kenya, this necklace is designed in collaboration with actress and activist Bailee Madison. By empowering women, we are giving them the freedom to shape their own lives, lead change in their community and act as role models to the generation of girls behind them.
				a.btn.btn-big.btn-metowe-2(style='margin-bottom: 4rem;margin-top: 4rem;') See products for Opportunity
		.cell.single.padded-double
			img.full(src="/img/me2we/opp_a.jpg")
		.cell.double.padded-double
			img.full(src="/img/me2we/opp_b.jpg")
		+product('Dembele', '$12.99', 'm2w/pro_1.jpg', '').single

	.grid.desktop.nomargin.border-bottom
		.cell.doubleHeight.padded-double
			.content
				.icon: img(src="/img/me2we/ico_cle.png")
				h2.left Clean Water
				p One bracelet = access to clean water for one person
				p This bracelet, handmade by a mama in Kenya, is designed in collaboration with singer and actor Jordan Fisher. Travelling to Kenya, Jordan had the opportunity to connect with local families and experience daily life. Walking in the footsteps of a local mama on a journey to collect water from the Mara River, he immediately witnessed the improvements access to clean and safe water can provide a community.
				a.btn.btn-big.btn-metowe-2(style='margin-bottom: 4rem;margin-top: 4rem;') See products for Clean Water
		.cell.double.padded-double
			img.full(src="/img/me2we/cle_a.jpg")
		.cell.single.padded-double
			img.full(src="/img/me2we/cle_b.jpg")

		+product('Dembele', '$12.99', 'm2w/pro_2.jpg', '').single

	.grid.desktop.nomargin
		.cell.doubleHeight.padded-double
			.content
				.icon: img(src="/img/me2we/ico_edu.png")
				h2.left Education
				p One bracelet = school supplies for one child
				p We’ve teamed up with our community of digital ambassadors, #GenerationSpring, to support education because we believe in a brighter future. We know that when children are educated, they are armed with the courage and self-confidence to better themselves and their families, their communities, and ultimately the next generation. WE Charity’s Education pillar brings long-term, sustainable education opportunities to communities who need it most.
				a.btn.btn-big.btn-metowe-2(style='margin-bottom: 4rem;margin-top: 4rem;') See products for Education
		.cell.single.padded-double
			img.full(src="/img/me2we/edu_a.jpg")
		.cell.double.padded-double
			img.full(src="/img/me2we/edu_c.jpg")
		+product('Dembele', '$12.99', 'm2w/pro_3.jpg', '').single

	//- +imgFull('/img/me2we/me2we_f.png')
	//- +imgFull('/img/me2we/me2we_g.png')
	//- +imgFull('/img/me2we/me2we_h.png')
	+imgFull('/img/me2we/me2we_i.png')

	.footer.desktop
		img(src="/img/global/desktopFooter.png")

	//- REGULAR SCRIPTS
	include blocks/std_scripts.pug

