//- TITLE
- var pagetitle = 'Me to We'

//- REGULAR INCLUDES
include blocks/mixin-desktop.pug
include blocks/mixin-global.pug
include blocks/std_head.pug
include blocks/std_css.pug

body.nav.desktop
	+nav('Free shipping for pick-up in-store & online orders of $45+')
	
	+largeHalfTriangle('Make an<br /> impact', 'Play Video', '/img/me2we/bigHero.jpg')
	+imgFull('/img/me2we/me2we_b.png')
	a.btn.btn-big.btn-metowe.btn-centered(style='margin-bottom: 4rem;') Learn more

	+imgFull('/img/me2we/me2we_c.png')
	+imgFull('/img/me2we/me2we_d.png')
	+imgFull('/img/me2we/me2we_e.png')
	+imgFull('/img/me2we/me2we_f.png')
	+imgFull('/img/me2we/me2we_g.png')
	+imgFull('/img/me2we/me2we_h.png')
	+imgFull('/img/me2we/me2we_i.png')
	
	.footer.desktop
		img(src="/img/global/desktopFooter.png")

	//- REGULAR SCRIPTS
	include blocks/std_scripts.pug

