//- TITLE
- var pagetitle = 'Men Footwear'

//- REGULAR INCLUDES
include blocks/mixin-desktop.pug
include blocks/mixin-global.pug
include blocks/std_head.pug
include blocks/std_css.pug

body.nav.desktop
	+nav('Free shipping for pick-up in-store & online orders of $45+')
	.grid.desktop.plp.border-bottom.nomargin
		.cell.single.padded-double.header.noBorder
			h6 Men
			h1.big Footwear
			a.btn.btn-gradient.btn-big Filter + 
		.cell.empty.halftexture.single.noBorder
		+product('AFILADIEN', '$49.99', 'men/M03.jpg').double
		+product('AIDIEN', '$49.99', 'men/M01.jpg').single
		+product('ALELAWIEL', '$49.99', 'men/M02.jpg').single
		+product('CAMBER', '$49.99', 'men/M10.jpg').single
		+product('EOWILICIA', '$49.99', 'men/M04.jpg').tall
		+product('ERUWEN', '$49.99', 'men/M06.jpg').single
		+promo('/img/plp/men_PromoA.jpg').tall
		.cell.halfEmpty
		.cell.double.padded-double
			img.full(src='/img/plp/men_SocialA.jpg')
			.socialInfo
				.handle @marshallwhite
				.likes
					img(src="/img/pdp/save.svg")
					span 32 likes
		+product('ERWOOD', '$49.99', 'men/M07.jpg').single
		+product('ETERARI', '$49.99', 'men/M08.jpg').single
		+product('FERRAWET', '$49.99', 'men/M14.jpg').single

		+product('FIAMMA', '$49.99', 'men/M11.jpg').single
		+product('FREADIEN', '$49.99', 'men/M13.jpg').single
		+product('GALAULIA', '$49.99', 'men/M12.jpg').single
		
		+product('GALIGONI', '$49.99', 'men/M09.jpg').single
		+product('HAOCIA', '$49.99', 'men/M15.jpg').single
		

		+product('HOLMQUIST', '$49.99', 'men/M16.jpg').single
		+promo('/img/plp/women_PromoB.jpg').tall

		+product('IBADOCIEN', '$49.99', 'men/M17.jpg').single
		.cell.halfEmpty
		+product('JERYRIA', '$49.99', 'men/M18.jpg').single
		
		+product('KUPFER', '$49.99', 'men/M22.jpg').single
		

		+product('NESPOLO', '$49.99', 'men/M05.jpg').tall
		.cell.double.padded-double
			img.full(src='/img/plp/men_SocialB.jpg')
			.socialInfo
				.handle @stevenblack
				.likes
					img(src="/img/pdp/save.svg")
					span 32 likes
		+product('NYDESSA', '$49.99', 'men/M19.jpg').single
		+product('OCELLE', '$49.99', 'men/M20.jpg').single
		+product('OCOADIEN', '$49.99', 'men/M21.jpg').single
	.grid.desktop.plp.border-bottom.nomargin.hidden
		+product('ERWOOD', '$49.99', 'men/M07.jpg').single
		+product('ETERARI', '$49.99', 'men/M08.jpg').single
		+product('FERRAWET', '$49.99', 'men/M14.jpg').single
		+promo('/img/plp/men_PromoB.jpg').tall
		+product('FIAMMA', '$49.99', 'men/M11.jpg').single
		+product('FREADIEN', '$49.99', 'men/M13.jpg').single
		+product('GALAULIA', '$49.99', 'men/M12.jpg').single
		.cell.halfEmpty

	+loadMore('More Chelsea Boots')
	h2.title Shop by category
	.grid.thirds.border-top.desktop.border-bottom
		.cell.padded
			img.full(src='/img/glp/mfeat_A.jpg')
			a.btnLink.small.centered Shop Footwear
		.cell.padded
			img.full(src='/img/glp/mfeat_B.jpg')
			a.btnLink.small.centered Shop Bags & Backpacks
		.cell.padded
			img.full(src='/img/glp/mfeat_C.jpg')
			a.btnLink.small.centered Shop Accessories
	
	.footer.desktop
		img(src="/img/global/desktopFooter.png")

	//- REGULAR SCRIPTS
	include blocks/std_scripts.pug

