//- TITLE
- var pagetitle = 'Men Footwear'

//- REGULAR INCLUDES
include blocks/mixin-desktop.pug
include blocks/mixin-global.pug
include blocks/std_head.pug
include blocks/std_css.pug

body.nav.desktop
	+nav('Free shipping for pick-up in-store & online orders of $45+')
	+imgFull('/img/plp/plpM_a.png')
	+imgFull('/img/plp/plpM_b.png')
	+imgFull('/img/plp/plpM_c.png')

	
	.footer.desktop
		img(src="/img/global/desktopFooter.png")

	//- REGULAR SCRIPTS
	include blocks/std_scripts.pug

