//- TITLE
- var pagetitle = 'Women Instashop'

//- REGULAR INCLUDES
include blocks/mixin-desktop.pug
include blocks/mixin-global.pug
include blocks/std_head.pug
include blocks/std_css.pug

body.homepage.desktop
	+nav('Free shipping for pick-up in-store & online orders of $45+')
	
	//- +imgFull('/img/homepage/hp_bannerDesktop.png')
	//- +imgFull('/img/homepage/hp_caroussel.png')
	//- +imgFull('/img/homepage/hp_sectionA.png')
	//- +imgFull('/img/homepage/hp_sectionB.png')
	//- +imgFull('/img/homepage/hp_sectionC.png')

	
	.footer.desktop
		img(src="/img/global/desktopFooter.png")

	//- REGULAR SCRIPTS
	include blocks/std_scripts.pug

