//usage: @include transition([property],[duration],[easing]);
@mixin transition($property: all, $timing: $duration, $easing: $ease){
	will-change: $property;
	transition: $property $timing $easing;
}

*{
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
html{
	font-size: $unit;
}
body{
	margin: 0;
	padding: 0;
	&.fixed{
		overflow: hidden;
		height: 100vh;
	}
}
*{
	letter-spacing: -0.035em;
}
.no-list{
	list-style-type: none;
	padding: 0;
	margin: 0;
	li{
		display: inline-block;
	}
}

.container{
	padding: 0 1rem;
	@media(min-width: 1024px){
		max-width: 80%;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
	}
}

.row{
	display: flex;
	&.small{
		max-width: 425px;
		margin-left: auto;
		margin-right: auto;
	}
	.column{
		flex-grow: 1;
	}
	&.gutter{
		justify-content: space-between;
		.column{
			margin: 0 .5rem;
			&:first-child{
				margin-left: 0;
			}
			&:last-child{
				margin-right: 0;
			}
			&.center{
				display: flex;
				align-items: center;
			}
		}
		@media(min-width: 1024px){
			.column{
				width: 50%;
				margin: 0 1rem;
				&:first-child{
					margin-left: 0;
				}
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
}
.tableRow{
	display: flex;
	width: 100%;
	&.center{
		align-items: center;
	}
	.tableCell{
		flex-grow: 1;
		padding: 1rem 0;
		&:last-child{
			text-align: right;
		}
	}
}
.table{
	&.summary{
		.tableRow{
			position: relative;
			align-items: baseline;
			.tableCell{
				padding: 0;
				margin-top: 1rem;
				*{
					background-color: white;
					display: inline-block;
				}
				.small{
					font-weight: 400;
					margin-left: .25rem;
				}
				&:first-child{
					> *{
						padding-right: .5rem;
					}
				}
				&:last-child{
					> *{
						padding-left: .5rem;
					}
				}
			}
			&:before{
				width: 100%;
				height: 0;
				position: absolute;
				bottom: 11px;
				left: 0;
				z-index: -1;
				border-bottom: 1px dashed #767676;
				content: "";
			}
		}
	}
}
.section{
	margin-top: 3rem;
	position: relative;
	.content{
		padding-bottom: 2rem;
		max-height: 3000px;
		@include transition(all $longDuration);
		overflow: hidden;
	}
	.surcontent{
		display: none;
	}
	.editSection{
		position: absolute;
		top: 0;
		right: 0;
		display: none;
	}
	&.inactive{
		h2{
			opacity: .25;
		}
		.content{
			max-height: 0;
			padding: 0;
		}
	}
	&.filled{
		.surcontent{
			display: block;
		}
		.editSection{
			display: block;
		}
		h2{
			font-size: .875rem;
			opacity: 1;
			font-weight: 700;
		}
	}
}