// Elements
.colorList{
	li{
		width: 1.5rem;
		height: 1.5rem;
		margin: 1rem 1rem 0.5rem 0.5rem;
		transform: rotate(0.125turn);
		color: transparent;
	}
}
.sizeSelector{
	margin-top: 2rem;
}
.sizeList{
	li{
		width: 2.8125rem;
		height: 2.8125rem;
		margin: 0 0.75rem 0.75rem 0;
		line-height: 2.8125rem;
		text-align: center;
		font-size: .875rem;
		background-color: $white;
		border: 1px solid $light;
		&.active{
			background: $main-gradient;
			border-color: transparent;
			color: $white;
			font-weight: 700
		}
	}
}

.btn{
	height: 2.5rem;
	line-height: 2.5rem;
	padding: 0 1rem;
	font-size: 0.875rem;
	display: inline-block;
	text-align: center;
	&.btn-big{
		height: 3.75rem;
		line-height: 3.75rem;
	}
	&.btn-full{
		display: block;
	}
	&.btn-gradient{
		background: $main-gradient;
		color: $white;
		font-weight: 700;
	}
}