// Elements
.colorList {
  li {
    width: 2rem;
    height: 2rem;
    margin: 1rem 1rem 0.5rem 0.5rem;
    transform: rotate(0.125turn);
    color: transparent;
    position: relative;
    background-size: cover;
    &.active {
      &:before {
        content: '';
        width: 110%;
        height: 110%;
        position: absolute;
        background-color: transparent;
        top: 50%;
        left: 50%;
        transform-origin: center center;
        transform: translate(-50%, -50%);
        box-shadow: inset 0 0 0px 5px $white;
        border: 1px solid #000;
      }
    }
  }
}
.sizeSelector {
  margin: 2rem 0;
  
  .sizeOptions{
    font-size: .875rem;
    margin-top: .5rem;
    a:not(:last-child){
      margin-right: 1rem;
    }
    .truefit{
      &:before{
        background-image: url(../img/pdp/TrueFit.svg);
      }
    }
  }
}
.sizeList {
  li {
    width: 2.8125rem;
    height: 2.8125rem;
    margin: 0 0.75rem 0.75rem 0;
    line-height: 2.8125rem;
    text-align: center;
    font-size: 0.875rem;
    background-color: $white;
    border: 1px solid $black;
    &.active {
      background: $black;
      border-color: $black;
      color: $white;
      font-weight: 700;
    }
  }
}

.pdpButtons {
  margin-bottom: 0.925rem;
  .shareOptions{
    font-size: .875rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    a:not(:last-child){
      margin-right: 1rem;
    }
    .save{
      &:before{
        background-image: url(../img/pdp/save.svg);
      }
    }
     .share{
      &:before{
        background-image: url(../img/pdp/share.svg);
      }
    }
  }
}

.btn {
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1rem;
  font-size: 0.875rem;
  display: inline-block;
  text-align: center;
  &.btn-big {
    height: 3.75rem;
    line-height: 3.75rem;
  }
  &.btn-full {
    display: block;
    width: 100%;
  }
  &.btn-gradient {
    background: $main-gradient;
    background-size: 200%;
    background-position: 0;
    color: $white;
    font-weight: 700;
    @include transition(background-position, $longDuration * 2);
    &.added{
      background-position: 100%;
    }
  }
  &.btn-primary {
    border: 1px solid $black;
  }
  &.btn-alt {
    border: 1px solid #CCCCCC;
    color: $main-color;
  }
  &.btn-padded{
    width: calc(100% - 2rem);
    margin-left: 1rem;
  }
  &.btn-fixedBottom{
    position: sticky;
    bottom: 0;
  }
}
a.btnLink{
  color: $main-color;
  font-size: 0.875rem;
}

hr{
  height: 1px;
  background-color: $cloud;
  margin: 3rem 0;
  border: 0;
  &.large{
    margin: 1.5rem 0;
    width: 100vw;
    margin-left: 50%;
    transform: translate(-50%,0);
  }
}
