.surnav.mobile {
  display: block;
  text-align: center;
  font-size: 0.875rem;
  position: relative;
  z-index: 99;
  color:#666666;
  height: 40px;
  line-height: 40px;
  background-color: #E5E7EB;
}

nav.mobile {
  display: block;
  position: sticky;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  .navContent {
    height: 75px;
    background-color: $white;
    border-bottom: 1px solid $light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 9;
    position: relative;
    font-size: 0.875rem;
    .left {
      display: flex;
      align-items: center;
      .icon img {
        display: block;
      }
      .icon:not(:last-child) {
        transform: translate(0, 1px);
        margin-right: 1.25rem;
      }
    }
    .right {
      text-align: right;
      vertical-align: middle;
    }
    .middle {
      text-align: center;
      width: 20%
    }
    .left,
    .right {
      .small{
        color: #767676;
        img{
          margin-right: .25rem;
          transform: translate(0, 1px);
        }
      }
      width: 40%;
    }
  }
  .buySticky {
    height: 60px;
    width: 100%;
    background-color: $white;
    border-bottom: 1px solid $light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 8;
    position: absolute;
    transform: translate(0, -100%);
    @include transition(transform, $longDuration);
    .productName {
      margin: 0;
      font-size: 1.125rem;
      font-weight: 600;
    }
    .price {
      margin: 0;
      color: $medium;
      font-size: 0.875rem;
    }
    &.visible {
      transform: translate(0, 0);
    }
  }
}

.headroom {
  @include transition(transform, $longDuration);
  position: sticky;
  &--pinned {
    transform: translate(0, 0);
  }
  &--top {
    // position: relative;
    // top: 0;
  }
  &--unpinned {
    transform: translate(0, -75px);
  }
}

.breadcrumb {
  font-size: 0.875rem;
  color: $medium;
  font-weight: 400;
  padding: 0.875rem 1rem;
  li {
    position: relative;
    &:not(:first-child) {
      padding-left: 0.65rem;
      background-image: url('../img/global/ico_chevron.svg');
      background-repeat: no-repeat;
      background-position: left center;
    }
    &:not(:last-child) {
      margin-right: 0.35rem;
    }
  }
}

.m-heroProduct {
  .header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .price {
    font-size: 1.25rem;
  }
  .right{
    padding-top: 7px;
    text-align: right;
    .saleMsg{
      font-style: 0.875rem;
      color: $main-color;
    }
  }
}

.carousel {
  display: block;
  width: 100%;
  position: relative;
  .slide {
    position: relative;
    img {
      width: 100%;
      display: block;
    }
  }
  border-bottom: 1px solid $cloud;
  margin-bottom: 2rem;
  .pagination{
    position: absolute;
    bottom: 1.125rem;
    left: 50%;
    transform: translate(-50%, 0);
    li{
      width: 6px;
      height: 6px;
      background-color: $black;
      transform: rotate(45.1deg);
      margin: .25rem;
      opacity: .15;
      &.active{
        opacity: 1;
      }
    }
  }
}

// .isHidden {
//   display: none;
//   z-index: -100;
// }

.c-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  @include transition(transform, $longDuration);
  transform: translateY(-120%);
  width: 100vw;
  background: #fff;
  height: 100vh;
  overflow: hidden;

  &.isHidden {
    // display: none;
    // z-index: -100;
    
  }

  &.isVisible {
    // display: block;
    // z-index: 100;
    
    transform: translateY(0);
  }

  .o-close-button {
    z-index: 101;
  }
}

.u-btn.o-close-button {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

.u-btn.o-close-button .c-icon {
  height: 0.75rem;
  width: 0.75rem;
  path{
    fill: #767676;
  }
}

.c-cart-wrapper {
  background: $white;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  // height: 100%;
  &.isHidden {
    display: none;
  }
}

.c-checkout__wrapper {
  &.isVisible {
    display: block;
  }
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
  width: 100%;
  background-color: $cloud;
  &.border-top{border-top: 1px solid $cloud;}
  &.border-bottom{border-bottom: 1px solid $cloud;}
  .cell{
    background-color: $white;
    overflow: hidden;
    &.single{
      grid-row: span 1;
      grid-column: span 1;
      &.square{
        height: 50vw;
      }
    }
    &.double{
      grid-row: span 2;
      grid-column: span 2;
    }
    &.padded{
      padding: 1rem;
    }
    img.full{
      width: 100%;
      display: block;
      &.padded{
        padding: .75rem;
      }
    }
    &.product{
      position: relative;
      .details{
        color: #666;
        font-size: .875rem;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
      }
      &.cta{
        .details{
          bottom: 4.5rem;
          @media(min-width: 1024px){
            bottom: 6.5rem;
            left: 2rem;
          }
        }
        .btn{
          margin-top: 2rem;
          margin-bottom: 1rem;
          // width: 
          @media(min-width: 1024px){
             margin-top: 2rem;
             margin-bottom: 2rem;
             width: calc(100% - 4rem);
             margin-left: 2rem;
             height: 60px;
             line-height: 60px;
          }
        }
      }
    }
  }
}

.socialInfo{
  display: flex;
  justify-content: space-between;
  padding-top:1rem;
  padding-left: 1rem;
  font-size: .875rem; 
  img{
    width: 0.75rem;
    transform: translate(-0.35rem, 1px)
  }
}

.surveyOptions{
  display: flex;
  justify-content: space-around;
  max-width: 35rem;
  margin: 0 auto;
  li{
    text-align: center;
    @include transition(color);
    .icon{
      height: 3.5rem;
      line-height: 3.5rem;
      @include transition(filter);
      filter: grayscale(100%) contrast(300%);
    }
    h5{
      margin: 0;
    }
    span.voted{
      @include transition(color);
      color: #666;
      display: block;
      font-size: 0.875rem;
    }
    .btn{
      @include transition(all);
      margin-top: 1rem;
      text-align: center;
      width: 100px;
      padding: 0;
    }
  }
  &.active{
    .btn{
      opacity: 0;
      &.added{
        opacity: 1;
      }
    }
    li.added{
      color: $main-color;
      .voted{
        color: currentColor;
      }
      .icon{
        filter: grayscale(0%) contrast(100%);
      }
      .btn{
        opacity: 1;
        border-color: $main-color;
      }
    }
  }
}
.btn .iconCheck{
  display: inline-flex;
  width: 0px;
  overflow: hidden;
  text-align: center;
  @include transition(width);
}
.active .iconCheck, .added .iconCheck{
  width: 1rem;
}
.reviews{
  .reviewsList{
    list-style-type: none;
    margin: 0 auto 2rem;
    padding: 0;
    width: 100%;
    font-size: 0.875rem;
    max-width: 450px;
    li{
      width: 100%;
      display: flex;
      margin-bottom: 1rem;
      .left, .right{
        display: flex;
      }
      .left{
        color: #666;
        width: 5.5rem;
      }
      .right{
        flex-grow: 1;
        .low{
          width: 4rem;
        }
        .high{
          width: 2.5rem;
        }
        .bar{
          height: 7px;
          position: relative;
          top: 3px;
          border-left: 1px solid $cloud;
          border-right: 1px solid $cloud;
          margin-right: .5rem;
          display: block;
          flex-grow: 1;
          span{
            width: 7px;
            height: 7px;
            transform: rotate(45.1deg);
            background-color: $black;
            position: absolute;
            top: 0;
          }
          &:before{
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $cloud;
          }
        }
      }
    }
  }
}

.mixnmatch{
  margin-top: 4rem;
  margin-bottom: 4rem;
  position: relative;
  h2{
    text-align: left;
    padding-left: 1rem;
  }
  &:before{
    position: absolute;
    top: calc(100% / 3);
    left: 50%;
    background-image: url(../img/pdp/mixnmatch.png);
    width: 65px;
    height: 65px;
    z-index: 3;
    content: '';
    transform: translate(-50%, -50%);
    background-size: cover;
  }
  .double{
    position: relative;
    .matchDetails{
      color: #666;
      font-size: .875rem;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
    }
    a{
      position: absolute;
      right: 1rem;
      bottom: 1rem;
    }
  }
}

.footer{
  width: 100%;
  img{
    width: 100%;
    display: block;
  }
}



// Cart
.cartWrapper{
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  overflow: scroll;
  transform: translateY(-120%);
  z-index: 9999;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
  @include transition(transform, $longDuration * 2);
  &.isVisible{
    transform: translateY(0);
  }
  padding-top: 1rem;
  // padding-bottom: 60px;
  h1{
    span.count{
      margin-left: .5rem;
      font-weight: 500;
      color: #767676;
    }
  }
  .cartId{
    color: #767676;
    margin-top: .5rem;
    margin-bottom: 2rem;
    font-size: 0.875rem;
  }
  .total{
    margin-bottom: 0;
  }
  
  
  
}
.productsCart{
  font-size: 0.875rem;
  
  list-style-type: none;
  padding: 0;
  margin: 0;
  li{
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    align-items: flex-start;
  }
  .img{
    width: 100px;
    img{
      display: block;
      width: 100%;
    }
  }
  .data{
    padding-top: .5rem;
    color: #767676;
    .title{
      margin-bottom: .5rem;
      color: $darkest;
    }
    span{
      display: block;
    }
  }
  .options{
    padding-right: 1rem;
    padding-top: .5rem;
    flex-grow: 1;
    text-align: right;
    .price, a{
      display: block;
      margin-bottom: .5rem;
    }
  }
}
.totalPrice{
    font-size: 1.5rem;
    font-weight: 700;
  }
  .beforeTaxes{
    color: #767676;
  }
.u-btn__content{
  font-size: 0.75rem;
  color: #767676;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  svg{
    margin-left: .5rem;
    width: .75rem;
    color: #767676;
  }
}

#navBag{
  position: relative;
  #bagCount{
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 3px;
    left: 1rem;
    background-color: $white;
    overflow: hidden;
    word-wrap: nowrap;
    &:before{
      content: '';
      left: 0;
      top: 0;
      width: 4px;
      height: 100%;
      background: linear-gradient(to right, rgba(256,256,256,1) , rgba(256,256,256,0));
      position: absolute;
    }
    .count{
      width: 10rem;
      position: absolute;
      top: 0;
      right: 0;
      color: $darkest;
      @include transition(all);
      &.have1{
        right: -1rem; 
      }
      &.have2{
        right: -2rem;
      }
      &.have3{
        right: -3rem;
      }
      &.have4{
        right: -4rem;
      }
      &.have5{
        right: -5rem;
      }
      &.have6{
        right: -6rem;
      }
      &.have7{
        right: -7rem;
      }
      &.have8{
        right: -8rem;
      }
      &.have9{
        right: -9rem;
      }
    }
    span{
      text-align: center;
      width: 1rem;
      display: inline-block;
    }
  }
  &:before{
    width: 4rem;
    height: 4rem;
    content: "";
    background-color: $main-color;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    margin-left: -2rem;
    margin-top: -2rem;
    opacity: 0;
    z-index: 3;
  }
  &.adding{
    &:before{
      animation: addToCart $longDuration $longDuration 1 ease-out;
    }
    @keyframes addToCart{
      0%{
        opacity: 0;
        transform: scale(1);
      }
      30%{
        opacity: 0.6;
        transform: scale(0.5);
      }
      100%{
        opacity: 0;
        transform: scale(0);
      }
    }
  }
}