$unit: 16px;

// Colors
$main-color: #8C50C7;
$main-color: #4200D7; //not sure what the good color is. 
$alt-color: #3023AE;
$alt2-color: #C86DD7;
$black: #000;
$darkest: #222;
$dark: #444;
$medium: #888;
$light: #ccc;
$lightest: #D0D0D0;
$cloud: #E5E5E5;
$white: #fff;


$main-gradient: linear-gradient(90deg, $alt-color 0%, $alt2-color 100%);


// Animation
$duration: 180ms;
$longDuration: 400ms;
$ease: cubic-bezier(0.77, 0, 0.175, 1);

// Fonts
$main-font: 'Dia', 'sans-serif';
$alt-font: $main-font;