$unit: 16px;

// Colors
$main-color: #123456;
$alt-color: #654321;
$black: #aaa;
$darkest: #222;
$dark: #444;
$medium: #666;
$light: #888;
$lightest: #eee;
$white: #fafafa;


// Fonts
$main-font: 'Dia', 'sans-serif';
$alt-font: $main-font;